# Synopsys DesignWare Watchdog Timer configuration option

# Copyright (c) 2022-2023 Intel Corporation

# SPDX-License-Identifier: Apache-2.0

config WDT_SNPS_DESIGNWARE
	bool "Synopsys DesignWare Watchdog (WDT) Driver"
	default y
	depends on DT_HAS_SNPS_DESIGNWARE_WATCHDOG_ENABLED
	help
	  Enable SNPS Designware Watchdog driver.
